<h1>
  {{title}}
</h1>
<input [(ngModel)]="newChampion.name">
<input [(ngModel)]="newChampion.desc">
<input [(ngModel)]="newChampion.tags">

<button (click)="getChampions()">getChampions</button>

<button (click)="setChampion()">setChampion</button>

<ul *ngFor="let champion of champions">
  <li>
    {{ champion?._id }}
    {{ champion?.name }}
    {{ champion?.desc }}
    {{ champion?.tags }}
    <button (click)="deleteChampion(champion?._id)">deleteChampion</button>
  </li>
</ul>

<button (click)="fillChampionsFromJson()">fillChampionsFromJson</button>

<button (click)="deleteAllChampions()">deleteAllChampions</button>
