<h1>
  {{title}}
</h1>

<div>
  <button (click)="fillChampionsFromJson()">fillChampionsFromJson</button>
  <button (click)="deleteAllChampions()">deleteAllChampions</button>
</div>

<div>
  <input [(ngModel)]="newChampion.name">
  <input [(ngModel)]="newChampion.desc">
  <input [(ngModel)]="newChampion.tags">
</div>

<div>
  <button (click)="getChampions()">getChampions</button>
  <button (click)="setChampion()">setChampion</button>
<div>

<ul *ngFor="let champion of champions">
  <li>
    {{ champion?._id }}
    {{ champion?.name }}
    {{ champion?.desc }}
    {{ champion?.tags }}
    <button (click)="deleteChampion(champion?._id)">deleteChampion</button>
    <button (click)="editChampion(champion?._id)">editChampion</button>
  </li>
</ul>
